<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="style.css">
		<style>
			body {background-color: #d6b47e;}
		</style>
	</head>
	<body>
		<div align="center">
			<br><br>
			<h3>Welcome to Sunshine English School</h3><p>
			<img src="/media/writing.jpeg" height="400" width="300">
			<p>
                ah yes, it is... {{ user }}.

                <p align="center"><a href="{% url 'thisway' %}">Welcome</a>
        	<p>
			<p>
		</div>
	</body>
</html>


