<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="style.css">
		<style>
			body {background-color: #d6b47e;}
		</style>
	</head>
	<body>
       	<div align="center">
			<br><br>
			<h3>Welcome to Sunshine English School</h3><p>
			<img src="/media/writing.jpeg" height="400" width="300">
			<p>
			<strong>A new student, how wonderful.</strong>
			What is your name, child?<p>

		    And I will need some sort of password<p>
			<p>
		</div>
			 {% block content %}
             <form method="post">
                 {% csrf_token %}
                 {{ form.as_p }}
                 <button type="submit">Sign up</button>
             </form>
             {% endblock %}

	</body>
</html>